<%style=''%>
<div class="row">
	<div class="span9">
		<form>
			<legend>添加文档</legend>
			<label>链接地址</label>
			<input placeholder='url' class='span6'/>
			<label>标题</label>
			<input placeholder='title' class='span6'>
			<label>内容</label>
			<textarea rows=3 style="margin: 0px 0px 10px; height: 95px; width: 442px;">内容</textarea>
			<label>目录</label>
			<div>
				<label>链接地址</label>
				<input placeholder='url'/>
				<label>目录标题</label>
				<input placeholder='title'>
				<label>目录内容</label>
				<textarea>content</textarea>
			</div>
		</form>
		
	</div>
	<div class="span2 offset1">
		cate:
		tag:
		<div>
			<button>取消</button>
			<button>保存至草稿</button>
			<button>下一步</button>
		</div>
	</div>
</div>
<%script=''%>