/*book*/
.user-pic{
	display:block;
	float:left;
	margin-right: 15px;
}
/*question*/
.ques-item{
	margin-bottom: 0px;
	margin-top: 15px;
}
.ques-item .ques-user{
	display:block;
	float:left;
	height: 160px;
	margin: 5px 15px 5px 0;
}
.ques-item .ques-user img{
	width:102px;
	height: 144px;
}
.ques-item .ques-detail{
	margin-left:70px;
	border-bottom: 1px solid #eeebe7;
	padding-bottom: 20px;
}
.ques-item .answer-form{
	margin:5px 0;
	padding:5px;
}
.ques-item .answer-form textarea{
	margin: 0px 0px 10px;
	width: 469px;
	height: 40px;
}
.ques-item .ques-btn{
	margin-top: 5px;
}
/*note*/
.note-item{
	margin-bottom: 0px;
	margin-top: 15px;
}
.note-item .note-detail{
	margin-left: 70px;
	border-bottom: 1px solid #eeebe7;
	padding-bottom: 20px;
}
.note-item .note-btn{
	margin-top: 5px;
}

/*comment*/
.comment-container{
	border-width: 1px;
	border-style: solid;
	padding: 10px 20px 10px;
	margin: 5px 0 15px;
	border-radius: 3px;
	border-color: #d9d9d9;
}
.comment-item{

}
.comment-pic{
	float:left;
	padding: 4px 0;
	margin: 0 5px;
}
.comment-pic img{
	width: 30px;
	height: 30px;
}
.comment-content{
	float:left;
	width: 402px;
}
.comment-btn{
}
.comment-response textarea{
	margin-left: 0px;
	margin-right: 0px;
	width: 435px;
}
.response-container textarea{
	width:100%;
}

.annotation{
	padding-top: 5px;
	margin-bottom: 1.5em;
	color: #666;
	line-height: 1.8;
}
.line{
	border-bottom: 1px dashed #ddd;
	padding: 0 0 10px 0;
	margin: 5px 0;
}
.gray{
	font-size: 12px;
	color: #999;
}
h1.title{
	margin:0;
}
h1.title span{
	overflow: hidden;
	font-size: 25px;
line-height: 1.1;
}
/*top-nav*/
#nologin{
	float:right;
}
#nologin div{
	padding: 10px 15px 10px;
}
#nologin div a{
	margin:0 5px;
}
pre.pre{
	border:none;
	background:none;
	padding:0;
	margin:0;
}
footer{
	text-align: center;
}
#backToTop {
    display: block;
    position: fixed;
    _position: absolute;
    bottom: 100px;
    _bottom: "auto";
    opacity: .6;
    filter: Alpha(opacity=60);
    right: 20px;
	height: 38px;
	width: 38px;
	background: url("/img/top.png") no-repeat;
}
#feedback{
	width: 35px;
	line-height: 1.2;
	padding: 5px 0;
	color: #fff;
	font-size: 20px;
	text-align: center;
	position: fixed;
	_position: absolute;
	right: 10px;
	_bottom: "auto";
	cursor: pointer;
	opacity: .6;
	filter: Alpha(opacity=60);
}
.dropdown-img{
	padding: 3px 6px;
}
.dropdown-img img{
	width: 20px;height: 20px; margin-right: 5px;
}
.filter .active{
	background: #808080;
}