.user-pic{
	display: block;
	float:left;
	margin: 3px 5px 3px 3px;
}
.user-pic img{
	width: 48px;
	height: 48px;
}

#user-info{
	float:left;

}

#user-info h1{
	font-size: 25px;
	line-height: 1.1;
	margin: 0 0 0 12px;
}