<div>
  一句话描述您的疑问
  <br/>
  <input type='text' class='question-title span5' placeholder='请在这里概述您的问题' />
   <br/>
  详细描述
  <br/>
  <textarea style="margin: 0px 0px 10px; width: 366px; height: 83px;"  class='text-plugin question-content' placeholder='1、如果你对于原文有不理解的地方。可以在右上角添加原文。怎样去研究和理解这个问题的。
    2、如果你自己写的代码无法运行，可以选择上传相关文件（5M一下）提问前采取了什么步骤去解决它。'>
  </textarea>
</div>
<div class='question-bottom'>
  分类：
  <select style="width: 60px;">
    <%for(var i=0;i<cates.length;i++){%>
    <%console.log('ccc')%>
    <option value='<%=cates[i].id%>' <%=question.cateId==cates[i].id?'selected=selected':''%>><%=cates[i].name%></option>
    <%}%>
  </select>
  位置:
  <input value='' type='text' style='width: 161px;' class='question-location span4' placeholder='url地址或者文章第几章节第几页' />
  <input class='pull-right submit' type='button' value='提交'/>
  
</div>

<script type='text/javascript' src='/js/text-plugin.js'></script>